.main {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: auto 1200px;
}

.header {
    margin-left: 60px;
    float: left;
}

.header h1 {
    font-family: 'Lobster', cursive;
    font-size: 4em;
}

.delList {
    font-family: 'Droid Sans', sans-serif;
    float: left;
    margin-top: 75px;
    margin-left: 40px;
}

.addItem {
    clear:both;
    font-family: 'Droid Sans', sans-serif;
    margin-left: 75px;
    float: left;
}

#addItemButton {
    margin-left: 25px;
}

#warningDiv {
    clear:both;
    margin-left: 75px;
    height: 20px;
    float: left;   
}

#warningText {
    font-family: 'Droid Sans', sans-serif;
    font-size: small;
    color: red;
}

.listWindow {
    clear:both;
    width:500px;
    height:500px;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 15px;
    float: left;
    font-family: 'Droid Sans', sans-serif;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 13px;
    border: all;
    list-style: none;
    overflow-y: auto;
}

.base {
    display: none;
}

.listCheckBox {
    float: left;
    background-color: white;
    width: 35px;
    height: 40px;
    padding-left: 10px;
}

.liCheckBox {
    float: left;
    background-color: white;
    width: 15px;
    height: 15px;
    margin: 10px 15px 10px 10px;
}


.listText {
    float: left;
    display: inline;
    background-color: white;
    vertical-align: text-top;
    width: auto;
    height: 35px;
}

.listWindow ul {
    list-style: none;
    padding: 0px;
    padding-right: 5px;
    
}

.listWindow li {
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.5em;
    margin-left: 10px;
    clear:both;
}

#deleteCheckedDiv {
    clear: both;
    float: left;
    margin-left: 80px;
}

#deleteCheckedButton {

}

.liDiv {
    clear:all;
}

.delete {
    display: inline;
    float: right;
    padding-right: 20px;
}

@media only screen and (max-width: 800px) {
    .main {
        background-size: auto 800px;
    }
}